* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
max-width: 1080px;
padding-top: 36px;
width:100%;
margin:0 auto;
position: relative;

}
.empty {
    z-index: 0;
  width: 100%;
  top: 0;
  position: absolute;
  height: 61px;
  background: #7abcac;
}

header .info1 {
  z-index: 999;   
  max-width: 33%;
  border: 4px solid #000000;
  padding: 50px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-top: 36px;
  font-weight: bold;
  font-size: 48px;

  color: #000000;
}
.text {
  text-align: center;
 

  font-style: normal;
  padding: 3px;
  font-size: 24px;
  line-height: 28px;
  background-color: #000000;
  color: #ffffff;
}

main {
  width: 1080px;
  position: absolute;
  margin-top: 200px;
}
H2,
H3,
h4 {
  text-transform: uppercase;
}

hr {
}

#first {
  display: inline-block;
  max-width: 300px;
  height: 150px;
  padding: 15px;
}
#second {
  width: 720px;
  display: inline-block;
  height: 150px;
  padding: 15px;
}

#secondfirst,
#secondsecond,
#secondthird {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 15px;
  height: 500px;
  vertical-align: top;
}
#s3 h2 {
  text-align: center;
}
#box1,
#box2,
#box3 {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 15px;
  height: 250px;
  vertical-align: top;
}

#box4,
#box5,
#box6 {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 15px;
  height: 200px;
  vertical-align: top;
}

footer {
  margin-bottom: 100px;
  text-align: center;
  line-height: 28px;
  background-color: #000000;
  color: #ffffff;
}
